<div id="main-content" class="container">
  <h2 id="menu-categories-title" class="text-center">Registration</h2><br>

  <form name='regForm' novalidate>

    <input type="text" name="firstname" placeholder="Firstname"
      ng-model="signUpCtrl.firstname"
      required
      minlength="2"
      ng-maxlength="15">
      <span
        ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
        Firstname must be at least 2 characters long
      </span>
      <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
        Firstname must not be longer than 15 characters
      </span>
      <br>

      <input type="text" name="lastname" placeholder="Lastname"
        ng-model="signUpCtrl.lastname"
        required
        minlength="2"
        ng-maxlength="15">
        <span
          ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
          Lastname must be at least 2 characters long
        </span>
        <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
          Lastname must not be longer than 15 characters
        </span>
        <br>

    <input type="email" name="email" placeholder="Email"
      ng-model="signUpCtrl.email" size="30"
      required>
      <span ng-if="regForm.email.$invalid && regForm.email.$touched">
        Must be a valid email address: handle@domain format
      </span>
      <br>

    <input type="text" name="phone" placeholder="Phone ###-###-####"
      ng-model="signUpCtrl.phone"
      pattern="(\d{3})-(\d{3})-(\d{4})"
      required>
      <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
        Phone must be in the format ###-###-####.
      </span>
      <br>

      <input type="text" name="menuNumber" placeholder=" Favorite dish number"
        ng-model="signUpCtrl.menuNumber">

        <span ng-if="signUpCtrl.favoriteDish && regForm.menuNumber.$touched">
          No such menu number exists
        </span>

        <br>

    <button
      ng-disabled="regForm.$invalid"
      ng-click="signUpCtrl.submit()">Submit</button><br><br>

      <span ng-if="signUpCtrl.saved">
        Your information has been saved
      </span>
  </form>

</div>
